.curso {
  padding: 10rem 0;
  margin-top: 10rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media(min-width: 768px) {
  .curso-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .curso .contenido {
    grid-column: 2 / 3;
  }
}

.curso .texto {
  color: var(--white);
  font-size: 2.4rem;
  text-align: center;
}